* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
/* body {
  background-image: var(--bs-gradient);
} */

.home {
  overflow: hidden;
  position: fixed;
  right: 0;
  bottom: 0;
}

.nav-item {
  font-family: "Spectral SC", sans-serif;
}

.navbar-brand {
  font-family: "Sofia", sans-serif;
  font-style: italic;
  font-size: 30px;
}

body {
  font-family: "Fauna One", sans-serif;
}

h2, h3, h5 footer {
  font-family: "Spectral SC", sans-serif;
}

.card {
  flex-basis: 400px;
  max-height: 300px;
}
.card:first-of-type {
  flex-basis: 425px;
  max-height: 320px;
}
.card-img {
  object-fit: cover;
}

/* 
@media (orientation: landscape) {
  body {
    flex-direction: row;
  };
}
  @media (orientation: portrait) {
    body {
      flex-direction: column;
    };
  }
@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  } */