* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
/* body {
  background-image: var(--bs-gradient);
} */
/* 
.mynavbar {
  font-family: "Spectral SC", sans-serif;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
}

.mynavbar a {
  float: right;
  display: block;
  text-align: end;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(0, 0, 0);
}
.mynavbar a:hover {
  color: rgb(0, 255 , 255);
} */

.home {
  overflow: hidden;
  position: fixed;
  right: 0;
  bottom: 0;
}

.nav-item {
  font-family: "Spectral SC", sans-serif;
}

.navbar-brand {
  font-family: "Sofia", sans-serif;
  font-style: italic;
  font-size: 30px;
}

body {
  font-family: "Fauna One", sans-serif;
}

h2, h3, footer {
  font-family: "Spectral SC", sans-serif;
}


@media (orientation: landscape) {
  body {
    flex-direction: row;
  };
}
  @media (orientation: portrait) {
    body {
      flex-direction: column;
    };
  }
@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }